<template>
  <div class="ad-selection">
    <AdSelectionSubheader :btn-click="() => navigationHandler('next')"/>
    <Breadcrumb :elements="history" />
    <div class="ad-selection__cards">
      <FilterCard :cards="cards" />
      <TransportCard v-for="(card, _key) in cards" :card="card" />
    </div>

  </div>
</template>

<script>
import TransportCard from "../components/TransportCard";
import StandartAd from 'images/standart-ad.png';
import FilterCard from "../components/FilterCard";
import Around from 'images/around.png';
import Strips from 'images/strips.png';
import Flag from 'images/flag.png';
import MobAfisha from 'images/mob-afisha.png';
import Face from 'images/face.png';
import Zhopa from 'images/zhopa.png';
import AdSelectionSubheader from "../components/AdSelectionSubheader";
import Breadcrumb from "../components/Breadcrumb";

export default {
  name: "AdSelection",
  components: {AdSelectionSubheader, FilterCard, TransportCard, Breadcrumb},
  data() {
    return {
      cards: this.defaultCards().map(this.addDropdown),
      breadcrumbs: [
        { text: "Главная" },
        {
          text: "Реклама на транспорте",
        }
      ]
    }
  },
  methods: {
    reload(e) {
      const { cards } = this;
      this.navigationHandler(null, { cards }, 'reload');
    },
    defaultCards() {
      return [
        {
          price: 123,
          img: StandartAd,
          title: 'Стандарт',
          size: 27,
          company: 'Хабаровск-драйв'
        },
        {
          price: 123,
          img: Around,
          title: 'Вокруг',
          size: 46.8,
          company: 'Хабаровск-драйв'
        },
        {
          price: 123,
          img: Strips,
          title: 'Полоски',
          size: 5,
          company: 'Хабаровск-драйв'
        },
        {
          price: 123,
          img: Flag,
          title: 'Флажок',
          size: 7.3,
          company: 'Хабаровск-драйв'
        },
        {
          price: 123,
          img: MobAfisha,
          title: 'Мобильная афиша',
          size: 10,
          company: 'Хабаровск-драйв'
        },
        {
          price: 123,
          img: Face,
          title: 'Заднее стекло',
          size: 1.8,
          company: 'Хабаровск-драйв'
        },
        {
          price: 123,
          img: Zhopa,
          title: 'Задняя часть',
          size: 6,
          company: 'Хабаровск-драйв'
        },
      ];
    },
    addDropdown(card) {
      const dropdownItems = new Array(20)
              .fill(1)
              .map((_, i) => ({text: i + 1, value: i + 1}));
      return {
        ...card,
        dropdownItems,
        monthActive: {text: 12, value: 12},
        tsActive: {text: 12, value: 12},
      }
    }
  },

  props: {
    flow: String,
    state: String,
    navigationHandler: Function,
    history: Array,
    serverData: Object,
  }
};
</script>

<style scoped lang="scss">
  .ad-selection {
    background-color: #eff3f6;

    &__cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;
      justify-content: center;
      justify-items: center;
    }
  }
</style>
