<template>
  <div class="basketWrapper">
    <!-- <Subheader :title="subheaderTitle" :steps="subheaderSteps"/> -->
    <Breadcrumb :elements="history">
      <!-- <BreadcrumbItem href="#">Главная</BreadcrumbItem>
            <BreadcrumbItem href="#">Реклама на транспорте</BreadcrumbItem>
            <BreadcrumbItem href="#" :on-click="onClick">Корзина</BreadcrumbItem> -->
    </Breadcrumb>

    <div class="main-section">
      <div class="main-section__left">
        <!-- <Tab/> -->
        <DataTable :columns="datatableColumns" :rows="datatableRows">
        </DataTable>
      </div>
      <div class="main-section__right">
        <BasketTotal
          total="1 250 000"
          promo="220 000"
          :positions="basketPositions"
          :navigationHandler="navigationHandler"
        />
        <ul class="points">
          <li class="point">
            <a href="" class="point__link" @click="navigationHandler('back')"
              >Задать вопрос</a
            >
          </li>
          <li class="point"><a href="" class="point__link">Скачать PDF</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import SubHeader from "../components/SubHeader";
import Breadcrumb from "../components/Breadcrumb";
// import Breadcrumb from "@mplt/ui-kit/src/components/Breadcrumb/Breadcrumb";
import Dropdown from "@mplt/ui-kit/src/components/Dropdown/Dropdown";
import DataTable from "../components/DataTable";
import BasketTotal from "../components/BasketTotal";
import ForwardButton from "../components/ForwardButton";
import Bus from "../assets/images/bus.svg";
import Trash from "../assets/images/trash_icon.svg";

//import pro4ee
export default {
  name: "Wrapper",
  data: () => ({
    subheaderTitle: "Город:Хабаровск",
    subheaderSteps: [
      { value: 1, text: "Все планы", active: true },
      { value: 2, text: "Доступ" },
      { value: 3, text: "Файлы" },
      { value: 4, text: "Диалоги" },
    ],
    breadcrumbs: [
      { text: "Главная" },
      {
        text: "Реклама на транспорте",
      },
      { text: "Корзина" },
    ],
    datatableColumns: [
      {
        name: "goods",
        value: "Товар",
        sortable: false,
        gridStyleWidth: "3fr",
      },
      {
        name: "monthAmount",
        value: "Количество месяцев",
        sortable: true,
        gridStyleWidth: "1fr",
      },
      {
        name: "transportAmount",
        value: "Количество ТС",
        sortable: true,
        gridStyleWidth: "1fr",
      },
      {
        name: "cost",
        value: "Сумма",
        sortable: true,
        gridStyleWidth: "1fr",
      },
      {
        name: "date",
        value: "Дата запуска",
        sortable: false,
        gridStyleWidth: "2fr",
      },
      {
        name: "trash",
        value: "",
        sortable: false,
        gridStyleWidth: "50px",
      },
    ],
    datatableRows: [
      {
        goods: Bus,
        monthAmount: Dropdown,
        transportAmount: Dropdown,
        cost: 100500,
        date: "popojje",
        trash: Trash,
      },
      {
        goods: Bus,
        monthAmount: Dropdown,
        transportAmount: Dropdown,
        cost: 100500,
        date: "popojje",
        trash: Trash,
      },
      {
        goods: Bus,
        monthAmount: Dropdown,
        transportAmount: Dropdown,
        cost: 100500,
        date: "popojje",
        trash: Trash,
      },
      {
        goods: Bus,
        monthAmount: Dropdown,
        transportAmount: Dropdown,
        cost: 100500,
        date: "popojje",
        trash: Trash,
      },
      {
        goods: Bus,
        monthAmount: Dropdown,
        transportAmount: Dropdown,
        cost: 100500,
        date: "popojje",
        trash: Trash,
      },
    ],
    basketPositions: [
      { name: "Планов:", value: 24 },
      { name: "Автобусы:", value: "5шт." },
      { name: "Аудитория:", value: "4 000чел" },
    ],
  }),
  components: {
    SubHeader,
    Breadcrumb,
    Dropdown,
    DataTable,
    BasketTotal,
  },
  props: {
    navigationHandler: Function,
    history: Array,
  },
};
</script>

<style lang="scss">
.basketWrapper {
  padding: 4vh 3vw;
  background-color: #eff3f6;
  height: 75vh;
}

.main-section {
  margin-top: 3vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2vw;
}
.points {
  margin-left: 2vw;
}
.point,
.point__link {
  color: #00aeef;
}
</style>
