<template>
  <div class="capacity-pick">
    <CapacityPickSubheader
      :btn-click="() => navigationHandler('next', { cards })"
    />
    <div class="capacity-pick__content">
      <Breadcrumb :elements="history" />
      <div class="capacity-pick__cards">
        <CapacityCard
          @click="onCardClick"
          v-for="(card, _key) in cards"
          :value="card"
          :key="_key"
          :card="card"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Car from "../../static/images/car.png";
import Bus from "../../static/images/bus.png";
import Tramvay from "../../static/images/tramvay.png";
import Trolleybus from "../../static/images/trolleybus.png";
import Marshrutka from "../../static/images/marshrutka.png";
import BigBus from "../../static/images/big-bus.png";
import CapacityCard from "../components/CapacityCard";
import CapacityPickSubheader from "../components/CapacityPickSubheader";
import Breadcrumb from "../components/Breadcrumb";

export default {
  props: {
    flow: String,
    state: String,
    navigationHandler: Function,
    history: Array,
    serverData: {
      type: Object,
      default: {},
    },
  },
  created() {
    window.addEventListener("beforeunload", this.reload);
  },
  beforeDestroy() {
    window.removeEventListener("beforeunload", this.reload);
  },
  data() {
    return {
      cards: this.serverData.cards || [
        {
          image: Car,
          title: "Такси",
          capacity: "small",
          picked: false,
        },
        {
          image: Bus,
          title: "Пазик",
          capacity: "medium",
          picked: false,
        },
        {
          image: Tramvay,
          title: "Трамвай",
          capacity: "big",
          picked: true,
        },
        {
          image: Marshrutka,
          title: "Маршрутное такси",
          capacity: "small",
          picked: false,
        },
        {
          image: BigBus,
          title: "Автобусы",
          capacity: "big",
          picked: false,
        },
        {
          image: Trolleybus,
          title: "Троллейбусы",
          capacity: "big",
          picked: false,
        },
      ],
      breadcrumbs: [
        { text: "Главная" },
        {
          text: "Реклама на транспорте",
        },
        { text: "Оформление заказа" },
      ],
    };
  },
  methods: {
    onCardClick(card) {
      card.picked = !card.picked;
    },
    reload() {
      this.navigationHandler(null, { cards: this.cards }, "reload");
    },
  },
  components: {
    CapacityCard,
    CapacityPickSubheader,
    Breadcrumb,
  },
};
</script>

<style lang="scss" scoped>
.capacity-pick {
  &__content {
    height: 100%;
  }

  &__cards {
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      margin-right: 24px;
    }
  }
}
</style>
