<template>
  <div>
    <h1>Form 1</h1>
    <code v-text="flow"></code><br>
    <code v-text="state"></code><br><br>
    <button @click="navigationHandler('back')">Назад</button>
    <button @click="navigationHandler('next')">Вперед</button>
  </div>
</template>

<script>

export default {
  name: "Form1",
  props: {
    flow: String,
    state: String,
    navigationHandler: Function,
  }
};
</script>

<style scoped></style>
