<template>
  <main>
    <section
      class="hero"
      :style="{ 'background-image': 'url(' + path + 'static/images/tram.jpg)' }"
    >
      <div class="container hero__content col-12 col-md-10 col-lg-8">
        <h2>
          MediaPult - позволит вам разместить рекламу на транспорте вашего
          города в режиме онлайн.
        </h2>
        <Button
          secondary
          size="lg"
          class="hero__btn"
          @click="navigationHandler('next')"
          >Попробуй сейчас</Button
        >
      </div>
    </section>
    <section class="benefits spaced">
      <div class="container">
        <h2>Почему реклама на транспорте?</h2>
        <div class="row">
          <div class="col-12 col-md-4 benefits__card">
            <img
              :src="path + 'static/images/benefits/1.svg'"
              alt="Заметно сразу"
            />
            <h3>Заметно сразу</h3>
            <p>
              Делает рынок открытым, что исключает наценки медиабаинговых
              агентств, что приводит к значительной экономии рекламных бюджетов
            </p>
          </div>
          <div class="col-12 col-md-4 benefits__card">
            <img :src="path + 'static/images/benefits/2.svg'" />
            <h3>Опыт, проверенный многими</h3>
            <p>
              Сервис экономит время, теперь нет необходимости рассылать десятки
              запросов подрядчикам, все актуальные предложения расположены на
              сайте
            </p>
          </div>
          <div class="col-12 col-md-4 benefits__card">
            <img :src="path + 'static/images/benefits/3.svg'" />

            <h3>Эффективная реклама</h3>
            <p>Сервис бесплатный и не взимает платы с рекламодателей</p>
          </div>
          <div class="col-12 col-md-4 benefits__card">
            <img :src="path + 'static/images/benefits/4.svg'" />

            <h3>Видят все</h3>
            <p>
              Сервис учитывает все скидки, которые предусмотрены
              рекламоносителями
            </p>
          </div>
          <div class="col-12 col-md-4 benefits__card">
            <img :src="path + 'static/images/benefits/5.svg'" />
            <h3>Легко запомнить</h3>
            <p>
              Сервис учитывает все скидки, которые предусмотрены
              рекламоносителями
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="feature">
      <!-- <div class="container col-12 col-md-10 col-lg-8"> -->
      <h3 class="feature__title">
        Mediapult в режиме реального времени рассчитывает стоимость рекламы на
        транспорте Хабаровска
      </h3>
      <p>
        Система самостоятельно выставит вам счет на оплату, предоставит все
        закрывающие документы, а так же загрузит фотоотчет в ваш личный кабинет
        в системе.
      </p>
      <img
        :src="path + 'static/images/joined_slide.png'"
        width="500px"
        height="200px"
      />
      <!-- </div> -->
    </section>
    <section class="advertisers">
      <h2 class="advertisers__title">Что дает mediapult рекламодателям?</h2>
      <div class="advertisers__benefits">
        <div class="benefit">
          <div class="benefit__image">
            <img :src="path + 'static/images/advbenefits/adv1.svg'" />
          </div>
          <div class="benefit__text">
            Делает рынок открытым, что исключает наценки медиабаинговых
            агентств, что приводит к значительной экономии рекламных бюджетов
          </div>
        </div>
        <div class="benefit">
          <div class="benefit__image">
            <img :src="path + 'static/images/advbenefits/adv2.svg'" />
          </div>
          <div class="benefit__text">
            Сервис экономит время, теперь нет необходимости рассылать десятки
            запросов подрядчикам, все актуальные предложения расположены на
            сайте
          </div>
        </div>
        <div class="benefit">
          <div class="benefit__image">
            <img :src="path + 'static/images/advbenefits/adv3.svg'" />
          </div>
          <div class="benefit__text">
            Сервис бесплатный и не взимает платы с рекламодателей
          </div>
        </div>
        <div class="benefit">
          <div class="benefit__image">
            <img :src="path + 'static/images/advbenefits/adv4.svg'" />
          </div>
          <div class="benefit__text">
            Сервис учитывает все скидки, которые предусмотрены рекламоносителями
          </div>
        </div>
      </div>
    </section>
    <section class="connector">
      <div class="connector__title">
        Система Mediapult объединила в себе всех владельцев рекламных
        поверхностей в транспорте Казани.
      </div>
      <div class="connector__service">Сервис MediaPult:</div>
      <div class="connector__breadcrumbs">
        <div class="breadcrumb">
          <div class="breadcrumb__index">1</div>
          <div class="breadcrumb__dots">....</div>
          <div class="breadcrumb__text">
            Объединяет данные о всех предложениях и ценах на рекламу в
            транспорте
          </div>
        </div>
        <div class="breadcrumb">
          <div class="breadcrumb__index">2</div>
          <div class="breadcrumb__dots">....</div>
          <div class="breadcrumb__text">
            Показывает в рамках одного web окна всех поставщиков и их цены
          </div>
        </div>
        <div class="breadcrumb">
          <div class="breadcrumb__index">3</div>
          <div class="breadcrumb__dots">....</div>
          <div class="breadcrumb__text">
            Сравнивает поставщиков по ценам, размеру аудитории и другим важным
            показателям
          </div>
        </div>
        <div class="breadcrumb">
          <div class="breadcrumb__index">4</div>
          <div class="breadcrumb__text">
            Загружает в личный кабинет фотоотчет о прошедшей рекламной
            активности и прочие закрывающие документы
          </div>
        </div>
      </div>
    </section>
    <section class="price">
      <img
        class="price__img"
        :src="path + 'static/images/lock.svg'"
        width="220px"
      />
      <div class="price__text">
        <h3 class="title">Стоимость фиксирована</h3>
        <div class="description">
          Mediapult не берет с рекламодателей комиссию за пользование системой.
          Система гарантирует, что стоимость, отражаемая на сайте MediaPult
          равна стоимости, которую заявляет владелец рекламной площади в лифтах.
        </div>
      </div>
    </section>
    <section>
      <div class="finisher">
        <div class="title">Запустить рекламу в транспорте вашего города!</div>
        <Button
          secondary
          size="lg"
          class="hero__btn"
          @click="navigationHandler('next')"
          >Попробуй сейчас</Button
        >
      </div>
    </section>
  </main>
</template>

<script>
import Button from "@mplt/ui-kit/src/components/Buttons/Button";

export default {
  components: {
    Button,
  },
  props: {
    flow: String,
    state: String,
    navigationHandler: Function,
  },
  data() {
    return {
      path: __webpack_public_path__,
    };
  },
};
</script>

<style scoped lang="scss">
@include make-grid-columns();

main {
  font-family: "Proxima Nova", Georgia, sans-serif;
}

section {
  h2 {
    font-size: 28px;
  }
}

.finisher {
  background-color: rgb(239, 243, 246);
  padding: 5vh 0;
  display: grid;
  place-items: center;
  .title {
    text-align: center;
    font-size: 33px;
    font-weight: 300;
    margin-bottom: 5vh;
  }
}

.price {
  padding: 10vh 8vw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2vw;
  align-items: center;

  &__text {
    .title {
      color: rgb(0, 174, 239);
      font-size: 32px;
      font-weight: 400;
    }

    .description {
      font-size: 18px;
      line-height: 26px;
    }
  }
}

.connector {
  height: 80vh;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    rgb(25, 145, 235),
    rgb(0, 174, 239)
  );
  text-align: center;
  padding: 0 5vw;
  color: white;
  font-size: 32px;

  &__title {
    margin-top: 15vh;
  }

  &__service {
    font-weight: 600;
    color: black;
    margin-bottom: 5vh;
  }

  &__breadcrumbs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5vw;
  }

  .breadcrumb {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 3fr;
    gap: 2vh;
    position: relative;

    &__index {
      border: 2px solid white;
      border-radius: 50%;
      height: 7vh;
      width: 7vh;
      line-height: 7vh;
    }

    &__text {
      //   text-align: center;
      font-size: 18px;
      line-height: 25px;
    }

    &__dots {
      position: absolute;
      right: -80px;
      top: -25px;
      font-size: 60px;
      letter-spacing: 10px;
    }
  }
}

.advertisers {
  height: 80vh;

  &__title {
    font-family: Montserrat, sans-serif;
    margin-top: 5vh;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
  }

  &__benefits {
    display: grid;
    margin: 0 5vw;
    grid-template-columns: repeat(4, 1fr);
    gap: 3vw;
  }

  .benefit {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 3vh;
  }
}

.feature {
  background-color: rgb(239, 243, 246);
  height: 60vh;
  padding: 0 20vh;
  display: grid;
  grid-template-rows: 2fr 1fr 3fr;
  place-items: center;
  text-align: center;

  &__title {
    color: rgb(0, 174, 239);
    font-weight: 700;
    font-size: 24px;
  }
}

.hero {
  background-size: cover;
  position: relative;

  &::after {
    z-index: 1;
    @include pseudo();
    @include position(absolute, 0, 0, 0, 0, 100%, 100%);
    background-color: rgba(25, 145, 235, 0.6);
  }

  &__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: $white;

    h2 {
      margin-bottom: 30px;
    }
  }

  &__btn {
    border-radius: 25px;
    width: 20vw;
    height: 5vh;
    line-height: 5vh;
  }
}

.spaced {
  padding: 150px 0;
}
.benefits {
  .row {
    margin: 0 -30px;
  }

  &__card {
    padding: 50px 30px !important;

    img {
      margin-bottom: 30px;
    }
  }
}

h3 {
  margin-bottom: 10px;
  color: darken($primary, 20%);
}
</style>
