<template>
  <div class="registration-screen">
    <RegistrationSubHeader />
    <div class="wrapper">
      <div class="content">
        <h1 class="title">Введите контактные данные</h1>
        <LabeledInput label="Номер телефона" placeholder="+7 (666) 133-70-42" />
        <LabeledInput label="Имя" placeholder="Александр Сергеевич Пушкин" />
        <LabeledInput label="E-mail" placeholder="sobaka@sobaka.ru" />
        <div class="button-wrapper">
          <BackwardButton @click.native="navigationHandler('back')" />
          <ForwardButton @click.native="navigationHandler('next')" />
        </div>
        <NamedLinkWithIcon
          link="https://www.sberbank.ru/"
          :iconPath="User"
          text="Личный кабинет"
        />
      </div>
    </div>
  </div>
</template>

<script>
import RegistrationSubHeader from "../components/RegistrationSubHeader.vue";
import LabeledInput from "../components/LabeledInput.vue";
import ForwardButton from "../components/ForwardButton.vue";
import BackwardButton from "../components/BackwardButton.vue";
import NamedLinkWithIcon from "../components/NamedLinkWithIcon.vue";
import User from "../assets/images/user-icon.svg";
export default {
  components: {
    RegistrationSubHeader,
    LabeledInput,
    ForwardButton,
    BackwardButton,
    NamedLinkWithIcon,
  },
  props: {
    navigationHandler: Function,
  },
  data: function() {
    return {
      User,
    };
  },
};
</script>

<style>
.wrapper {
  background-color: #eff3f6;
  padding-top: 3vw;
}

.content {
  background-color: #fff;
  display: grid;
  justify-items: center;
  height: 60vh;
  width: 90vw;
  margin: auto;
}

.button-wrapper {
  display: flex;
  width: 25%;
  justify-content: space-around;
}
</style>
