<template>
    <Subheader :step-hint="stepHint" :title="title" :steps="steps">
        <Button @click="btnClick" primary extendClass="subheader__button">
            Далее
        </Button>
    </Subheader>
</template>

<script>
    import Subheader from "./SubHeader";
    import Button from "@mplt/ui-kit/src/components/Buttons/Button";

    export default {
        name: "AdSelectionSubheader",
        components: {
            Subheader,
            Button
        },
        props: {
            btnClick: Function
        },
        data: function () {
            return {
                title: 'Город: Хабаровск',
                stepHint: 'Выбор по районам:',
                steps: [{value:1, text: 'Центр Северный', active: true}, {value:2, text: 'Центр Южный'}]
            }
        },
    }
</script>

<style>
    .subheader__button {
        width: 120px;
        justify-self: flex-end;
        padding: 8px;
    }
</style>
