<template>
  <div class="app">
    <Layout>
      <Component
        v-if="!loading"
        :is="currentForm"
        :navigationHandler="navigationHandler"
        :state="stateName"
        :flow="flowName"
        :history="historyList"
        :serverData="serverData"
        class="app__content"
      ></Component>
      <div v-else><Loader /></div>
    </Layout>
  </div>
</template>

<script>
import axios from "axios";
import { getConfig } from "@ijl/cli";
import { processes } from "../utils/workflow";
import Layout from "../layouts/Layout";
import Loader from "@mplt/ui-kit/src/components/Base/Loader";

const baseUrl = getConfig()["transport.api.base.url"];

export default {
  name: "App",
  components: {
    Loader,
    Layout,
  },
  data() {
    return {
      flowName: "transportFlow",
      stateName: "landing",
      currentForm: null,
      loading: true,
      historyList: [],
      serverData: {},
    };
  },
  methods: {
    async sendStateEvent(params) {
      const { data: { flowName, stateName, data, historyList } } = await axios
        .get(`${baseUrl}/workflow`, {
          withCredentials: true,
          params
        }).catch(console.error);

      this.flowName = flowName;
      this.stateName = stateName;
      this.currentForm = processes[flowName][stateName];
      this.loading = false;
      this.historyList = historyList.map(({ stateName, data }) => ({
        text: stateName,
        onClick: () => this.sendStateEvent({ name: stateName, cmd: 'revert', data })
      }));
      console.log(JSON.parse(data));
      this.serverData = JSON.parse(data);
    },
    navigationHandler(eventName, data = {}, cmd = 'event') {
      this.sendStateEvent({
        name: eventName,
        cmd,
        data
      });
    }
  },
  created() {
    this.sendStateEvent({
      name: "transportFlow",
      cmd: "start",
      data: {}
    });
  }
};
</script>

<style lang="scss" scoped>
.app {
  font-family: "Proxima Nova", Georgia, Monteserrat, sans-serif;
}
  .app__content {
    min-height: 80vh;
    background-color: #eff3f6;
    padding-bottom: 5vh;
  }
</style>
