<template>
  <button class="backward-button">
    <img class="backward-button__img" :src="ArrowLeft" /> Назад
  </button>
</template>

<script>
import ArrowLeft from "../assets/images/arrow-left.svg";
export default {
  name: "BackwardButton",
  data: function() {
    return {
      ArrowLeft,
    };
  },
};
</script>

<style lang="scss">
.backward-button {
  outline: none;
  width: 98px;
  height: 36px;
  border: 1px solid #ced0da;
  background-image: linear-gradient(to top, #f1f3f7 0%, #ffffff 100%);
  border-radius: 5px;
  color: #7383a1;
  font-family: "Proxima Nova - Semibold";
  font-size: 14px;

  &:hover {
    box-shadow: 0 0 0 2px #ced0da;
  }

  &:active {
    outline: none;
    background-image: linear-gradient(to top, #b8babe 0%, #e2e2e2 100%);
  }

  &__img {
    display: inline-block;
    margin-right: 10px;
  }
}
</style>
