<template>
  <div class="breadcrumb">
    <BreadcrumbItem
      v-for="element in elements"
      :href="element.href"
      :onClick="element.onClick"
      :key="element.text"
      >{{ element.text }}</BreadcrumbItem
    >
  </div>
</template>

<script>
import BreadcrumbItem from "./BreadcrumbItem";
export default {
  name: "Breadcrumb",
  props: {
    separator: {
      type: String,
      default: "››",
    },
    elements: Array,
  },
  components: {
    BreadcrumbItem,
  },
};
</script>

<style scoped>
  .breadcrumb {
    padding: 18px;
  }
</style>
