<template>
    <Card @click="$emit('click', value)" extendClass="capacity-card" >
        <img :src="card.image" alt="" class="capacity-card__image" />
        <div class="capacity-card__title">{{ card.title }}</div>
        <div class="capacity-card__capacity">
            <span class="hint">Вместимость: </span>
            <span class="capacity">{{ capacity_map[card.capacity] || 'Средняя' }}</span>
        </div>
        <div class="picked" :class="{ picked_yes: card.picked }">
            <img :src="picked_img">
        </div>
    </Card>
</template>

<script>
    import Checkbox from '../../static/images/Check.svg';
    import Plus from '../../static/images/Plus_Icon.svg';
    import Card from "./Card";

    export default {
        components: {
            Card,
        },
        props: {
            card: Object,
            value: Object,
        },
        computed: {
            picked_img() {
                if (this.$props.card.picked) {
                    return Checkbox;    
                }

                return Plus;
            },
        },
        data() {
            return {
                capacity_map: {
                    'small': 'Малая',
                    'medium': 'Средняя',
                    'big': 'Большая'
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .capacity-card {
        width: 170px;
        height: 180px;
        cursor: pointer;

        &__title {
            font-size: 16px;
            line-height: 40px;
        }

        &__capacity {
            font-size: 14px;
            line-height: 24px;
            color: #848c98;
            .capacity {
                font-weight: 700;
                color: #222c3c;
            }
        }

        .picked {
            width: 32px;
            height: 32px;
            background-color: #e8eaf1;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            &_yes {
                background-color: #56c350;
            }
        }
    }
</style>