<template>
    <div @click="$emit('click'  )" :class="['card', extendClass]">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: "Card",
        props: {
            extendClass: String
        }
    }
</script>

<style scoped>
    .card {
        border-radius: 4px;
        border: 1px solid #e6eaee;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        user-select: none;
    }
</style>