<template>
  <div class="datatable">
    <div class="datatable__header datatable__row" :style="gridRow">
      <div class="datatable__cell" v-for="column in columns" :key="column.name">
        <!--  @click="sortRows(column.name)" -->
        {{ column.value }}
      </div>
    </div>
    <div
      class="datatable__row"
      v-for="(row, index) in rows"
      :key="index"
      :style="gridRow"
    >
      <div class="datatable__cell" v-for="column in columns" :key="column.name">
        <component
          v-if="typeof findColumn(row, column.name) === 'object'"
          :is="findColumn(row, column.name)"
        />
        <img
          v-else-if="
            typeof findColumn(row, column.name) === 'string' &&
              findColumn(row, column.name).slice(-3) === 'svg'
          "
          :src="findColumn(row, column.name)"
        />
        <span v-else v-html="findColumn(row, column.name)"></span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DataTable",
  props: {
    columns: Array,
    rows: Array,
  },
  data() {
    return {
      gridRow: {
        display: "grid",
        placeItems: "center",
        textAlign: "center",
        gridTemplateColumns: this.calculateGridColumns(),
      },
    };
  },

  methods: {
    findColumn(row, columnName) {
      const keyAndValue = Object.entries(row).find(
        ([key, value]) => key === columnName
      );
      return keyAndValue && keyAndValue[1];
    },

    // sortRows: function(name) {
    //   if (this.rows.find((row) => !!row[name]).sorted) {
    //     this.rows.reverse();
    //   } else {
    //     this.rows.forEach((row) => (row.sorted = !!row[name]));
    //     this.rows.sort((a, b) => (a[name] > b[name] ? 1 : -1));
    //   }
    // },

    calculateGridColumns: function() {
      return (
        this.columns &&
        this.columns
          .map(({ gridStyleWidth }) =>
            gridStyleWidth ? gridStyleWidth : "1fr"
          )
          .join(" ")
      );
    },
  },
};
</script>

<style lang="scss">
.datatable {
  &__row {
    border: 1px solid #dfe3e9;
    border-top: none;
    background-color: #fff;
    padding: 2vh 0;
  }

  &__header {
    background-color: #f5f8fa;
    border: 1px solid #dfe3e9;
    color: #7f8fa4;
    padding: 0.5vh 0;

    .database__cell:first-child {
      justify-self: start;
      margin-left: 2vw;
    }
  }

  &__cell {
    padding: 0.5vh 0.5vw;
  }
}
</style>
