<template>
    <Card extendClass="filter-card">
        <div v-for="(card, _key) in cards" :key="_key" class="filter-card__row">
<!--            <Checkbox :id=`ad-select${_key}` :value="card" />-->
            <label :for="_key">
                {{card.title}} ({{card.size}} м2)
            </label>
        </div>
        <div class="filter-card__controls">
            <div class="drop-all">

            </div>
            <div class="cross">

            </div>
        </div>
    </Card>
</template>

<script>
    import Card from "./Card";

    export default {
        name: "FilterCard",
        props: {
            cards: Array
        },
        components: {
            Card
        }
    }
</script>

<style scoped>
    .filter-card {
        width: 270px;
    }
</style>