<template>
    <button class="forward-button">Далее<img class="forward-button__img" :src="ArrowRight"></button>
</template>

<script>
    import ArrowRight from '../assets/images/arrow-right.svg'
    export default {
        name: "ForwardButton",
        data: function () {
            return {
                ArrowRight
            }
        }
    }
</script>

<style lang="scss">
    .forward-button {
        appearance: none;
        width: 98px;
        height: 36px;
        border: 1px solid #249533;
        background-image: linear-gradient(to top, #33aa44 0%, #39b54a 100%);
        color: #ffffff;
        font-family: "Proxima Nova - Semibold";
        font-size: 14px;
        border-radius: 5px;

        &:hover {
        box-shadow: 0 0 0 2px #88ee7d;
        }

        &:focus {
            outline: none;
            background-image: linear-gradient(to top, #62aa75 0%, #4fb55d 100%);
        }

        &__img {
        margin-left: 10px;
        }
    }

    

</style>