<template>
    <div class="labeled-input">
        <div class="labeled-input__label">{{label}}</div>
        <input class="labeled-input__input" type="text" :placeholder="placeholder" v-model="inputValue">
    </div>
</template>

<script>


export default {
    data: function () {
        return {
        inputValue: '',
        }
    },
    props: {
        label: String,
        placeholder: String,
    }
}
</script>

<style lang="scss">
    .labeled-input {
        

        &__label {
            margin-bottom: 1vh;
        }

        &__input {
            width: 30vw;
            height: 4vh;
            padding-left: 1vh;
            border-radius: 4px;
            border: 1px solid #dfe3e9;
            background-color: #f8fafc;
        }

        &__input::placeholder {
            opacity: 0.5;
            color: #354052;
            // font-family: "Proxima Nova - Semibold";
            // font-size: 14px;
        }

    }

    

</style>