<template>
    <div class="logo">
        <span class="media bold">Media </span>
        <span class="pult bold">pult</span>
        <div class="logo_add">
            Агрегатор оффлайн рекламы
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .logo {
        font-family: "Proxima Nova - Semibold";
        &_add {
            text-transform: none;
            color: #eff3f6;
            font-size: 10px;
        }
        .bold {
            font-weight: bold;
            font-size: 28px;
            text-transform: uppercase;
            line-height: 20px;
        }
        .media {
            color: #eff3f6;
        }
        .pult {
            color: #354052;
        }  
    }
</style>