<template>
  <a :href="link" class="named-link-with-icon"><img :src="iconPath" alt="" class="named-link-with-icon__icon">{{text}}</a>
</template>

<script>
export default {
    props: {
        link: String,
        iconPath: String,
        text: String,
    }
}
</script>

<style lang="scss">
    .named-link-with-icon {
        color: #2ea1f8;
        font-family: "Proxima Nova";
        font-weight: 700;
        text-decoration: none;

        &__icon {
            margin-right: 1vw;
        }
    }
</style>