<template>
  <Subheader :title="title" :steps="steps"/>
</template>

<script>
import Subheader from "./SubHeader";
export default {
    name: "RegistrationSubHeader",
    components: {
        Subheader
    },
    data: function () {
    return {
      title: 'Регистрация',
      steps: [{value:1, text: 'Регистрация', active: true}, {value:2, text: 'Выбор способа оплаты'}]
    }
  },
}
</script>

<style>

</style>