<template>
<div class="steps__step step">
    <div :class="['step__value', active ? 'step__value_active': '']">{{value}}</div>
    <div :class="['step__text', active ? 'step__text_active': '']">{{text}}</div>
</div>
</template>

<script>
export default {
    name: 'Step',
    props: {
      
        active: Boolean,
        value: [String,Number],
        text: String
    }
    
}
</script>

<style lang="scss" scoped>
  .step {
    height: 30px;
    display: grid;
    grid-template-columns: 40px fit-content(300px);
    align-items: center;
    margin-right: 1vw;

    &__value {
      display: grid;
      place-items: center;
      width: 28px;
      height: 28px;
      border: 1px solid #1a91eb;//TODO: вынести в переменную
      background-color: #fafbfc;
      border-radius: 50%;

      &_active{
        color: white;
        background-image: linear-gradient(to top, #1991eb 0%, #2ca1f8 100%);
      }
    }

    &__text {
      &_active {
        color: #1d2531;
      }
    }

  }
  /* ✓ */

</style>