<template>
  <div class="subheader">
      <h1 class="subheader__title">{{title}}</h1>
      <SubHeaderSteps :hint="stepHint" :steps="steps"/>
      <slot/>
  </div>
</template>

<script>
import SubHeaderSteps from './SubHeaderSteps'
export default {
    components: {
        SubHeaderSteps
    },
    props: {
        title: String,
        steps: Object,
        'step-hint': String,
    }
}
</script>

<style lang="scss" scoped>
    .subheader {
        background: white;
        padding: 18px;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        align-items: center;

        &__title {
            padding-left: 2vh;
        }
    }
</style>