<template>

  <div class="subheader__steps">
    <div class="subheader__step-hint">{{hint}}</div>
      <ul>
        <Step v-for="step in steps" :value="step.value" :text="step.text" :key="step.text" :active="step.active"></Step>
      </ul>
  </div>
</template>

<script>
import Step from './Step';

export default {
    components : {
        Step
    },
    props: {
        steps: Object,
        hint: String,
    }
}
</script>

<style lang="scss" scoped>
    .subheader {
        &__steps {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__step-hint {
            margin-right: 12px;
        }

    }
    ul {
        display: flex;
    }
</style>