<template>
    <Card extendClass="transport-card">
        <img :src="card.img" class="transport-card__img" alt="">
        <div class="transport-card__size">
            {{ card.title }} ({{ card.size}} м2)
        </div>
        <div class="transport-card__row transport-card__company">
            <span class="transport-card__label">
                Компания:
            </span>
            {{ card.company }}
        </div>
        <div class="transport-card__row transport-card__month-amount">
            <div class="transport-card__label">
                количество месяцев:
            </div>
            <Dropdown showChevron v-model="card.monthActive" :items="card.dropdownItems" extendClass="transport-card__dropdown">
                <template slot="trigger">
                    <p>{{card.monthActive.text}}</p>
                </template>
            </Dropdown>
        </div>
        <div class="transport-card__row transport-card__ts-amount">
            <div class="transport-card__label">
                количество ТС:
            </div>
            <Dropdown showChevron v-model="card.tsActive" :items="card.dropdownItems" extendClass="transport-card__dropdown">
                <template slot="trigger">
                    <p>{{card.tsActive.text}}</p>
                </template>
            </Dropdown>
        </div>
        <div class="transport-card__row transport-card__hint">
            цена вкл. аренду,печать и монтаж:
        </div>
        <div class="transport-card__controls">
            <div class="price">
                {{ card.price }} <span class="rub">₽</span>
            </div>
            <Button secondary extendClass="transport-card__button">
                <span class="icon">+</span>
                <span class="text">В корзину</span>
            </Button>
        </div>
    </Card>
</template>

<script>
    import Button from '@mplt/ui-kit/src/components/Buttons/Button';
    import Card from './Card';
    import Dropdown from "@mplt/ui-kit/src/components/Dropdown/Dropdown";
    export default {
        name: "TransportCard",
        props: {
            card: Object
        },
        components: {
            Button,
            Card,
            Dropdown,
        }
    }
</script>

<style scoped lang="scss">
    .transport-card {
        width: 270px;
        padding: 40px 20px 10px;
        justify-content: flex-start;
        align-items: flex-start;

        &__img {
            align-self: center;
        }

        &__row {
            margin-bottom: 12px;
        }

        &__size {
            align-self: center;
            margin: 24px 0;
        }
        &__company {
            font-weight: 600;
            font-size: 14px;
        }

        &__dropdown {
            width: 70px;
        }

        p {
            font-size: 12px;
            color: #848c98;
        }

        .price {
            color: $primary;
            font-size: 24px;
            text-transform: uppercase;
        }

        &__ts-amount,
        &__month-amount {
            width: 100%;
            display: grid;
            grid-template-columns: 4fr 1fr;
            align-items: center;
            .transport-card__label {
                justify-self: start;
            }
        }

        &__controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        &__button {
            margin-left: 12px;
            width: 115px;
            height: 36px;
            .text {
                text-align: end;
            }
        }

        .rub {
            font-size: 20px;
        }

        &__hint,
        &__label {
            color: #848c98;
            font-size: 14px;
        }
    }
</style>
