<template>
    <main>
        <Header/>
        <slot/>
        <Footer/>
    </main>
</template>

<script>
    import Footer from '@mplt/ui-kit/src/components/Footer/Footer';
    import Header from '@mplt/ui-kit/src/components/Header/Header';
export default {
        name: "App",
        components: {
            Header,
            Footer,
        }
    }
</script>
